<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>This identifier will be used to deliver personalized ads to you</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
		<!-- Add other network IDs if necessary -->
	</array>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-6811490856416526~2027262419</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
		</dict>
		<dict/>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Gameplay.ttf</string>
		<string>Heyam.ttf</string>
	</array>
</dict>
</plist>
